
.parallax { 
    /* The image used */
    background-image: url("/images/signup.jpg");
    color:#ffffff;
    

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 10% !important;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-weight:bold;
}